{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% load unicorn %}
<!DOCTYPE html>
<html lang="es">
  <head>
    {% unicorn_scripts %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script src="https://kit.fontawesome.com/f89f8ae43b.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block titulo %}
        Sistema MVP
      {% endblock %}
    </title>
  </head>
  <body>
    {% csrf_token %}
    {% include 'navbar.html' %}
    <div class="container my-4">
      {% include 'alertas.html' %}
      {% block contenido %}

      {% endblock %}
    </div>
  </body>
</html>
