{% load i18n %}
<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top shadow mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'inicio' %}">MVP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% if user.is_authenticated %}
        <!-- Menú de navegación para usuarios autenticados -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'inicio' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#">Action</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Another action</a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <div class="d-flex">
          <!-- Acciones de la cuenta del usuario -->
          {% url 'account_email' as email_url_ %}
          {% url 'account_change_password' as change_password_url_ %}
          {% url 'socialaccount_connections' as connections_url_ %}
          {% url 'mfa_index' as mfa_url_ %}
          {% url 'usersessions_list' as usersessions_list_url_ %}
          <div class="btn-group">
            <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false"><i class="fa-solid fa-circle-user"></i> {{ user.get_full_name|default:user.username }}</button>
            <ul class="dropdown-menu dropdown-menu-lg-end">
              <li>
                <a href="{{ email_url_ }}" class="dropdown-item" type="button"><i class="fa-solid fa-gear"></i> {% trans 'Change Email' %}</a>
              </li>
              <li>
                <a href="{{ change_password_url_ }}" class="dropdown-item" type="button"><i class="fa-solid fa-bookmark"></i> {% trans 'Change Password' %}</a>
              </li>
              <li>
                <a href="{{ connections_url_ }}" class="dropdown-item" type="button"><i class="fa-solid fa-users"></i> {% trans 'Account Connections' %}</a>
              </li>
              <li>
                <a href="{{ mfa_url_ }}" class="dropdown-item" type="button"><i class="fa-solid fa-users"></i> {% trans 'Two-Factor Authentication' %}</a>
              </li>
              <li>
                <a href="{{ usersessions_list_url_ }}" class="dropdown-item" type="button"><i class="fa-solid fa-users"></i> {% trans 'User Sessions' %}</a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a href="{% url 'account_logout' %}" class="dropdown-item" type="button"><i class="fa-solid fa-right-to-bracket"></i> Cerrar sesión</a>
              </li>
            </ul>
          </div>
        </div>
      {% else %}
        <!-- Menú de navegación para usuarios no autenticados -->
        {% url 'account_login' as login_url_ %}
        {% url 'account_signup' as signup_url_ %}
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ login_url_ }}">{% trans 'Sign In' %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ signup_url_ }}">{% trans 'Sign Up' %}</a>
          </li>
        </ul>
      {% endif %}
    </div>
  </div>
</nav>
